/*
with TI am335x BSP 06.03.00.106
with HAOYU / www.hotmcu.com cape
greatcat@ms18.hinet.net
20201231
If this document helps you and buy street cats a fish can.
*/
//

&am33xx_pinmux {
		gcat_pwm_bkl_pins: gcat_pwm_bkl_pins {
			pinctrl-single,pins = <
				//0x48 0x06       /* gpmc_a2.ehrpwm1a, OMAP_MUX_MODE6 | AM33XX_PIN_OUTPUT */
				AM33XX_IOPAD(0x848, PIN_OUTPUT | MUX_MODE6) //(U14) gpmc_a2.ehrpwm1A 
			>;
		};
};

&epwmss1 {
	status = "okay";
	ehrpwm1: pwm@48302200 {
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&gcat_pwm_bkl_pins>;
	};
};


/ {


	backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 500000 0>;
		brightness-levels = <0 51 53 56 62 75 101 152 255>;
		default-brightness-level = <4>;
	};

};
